# C extensions
*.so

# new data files
save
*.png
out_model/*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# build artifacts

.eggs/
.mypy_cache
*.egg-info/
build/
dist/
pip-wheel-metadata/


# dev tools

.envrc
.python-version
.idea
.venv/
.vscode/
/*.iml
pyrightconfig.json
.ruff_cache/

# jupyter notebooks

.ipynb_checkpoints


# miscellaneous

.cache/
doc/_build/
*.swp
.DS_Store


# python

*.pyc
*.pyo
__pycache__


# testing and continuous integration

.coverage
.pytest_cache/
.benchmarks

# documentation build artifacts

docs/build
site/

# The following ignores are from vila repository
*.whl
*_dev
dev/
# config.json
eval_output/
eval-result/
hostfile
core.*
*.out
captioner_bk/
slurm-logs/
captioner/
hostfile
*_dev.py
*_dev.sh


# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb

# Playground
playground/

# Hydra 
.hydra/

# Data
demo_data/gr00t-gr1-apple-to-shelf/
tmp/
output/
our_model/model-00001-of-00002.safetensors
our_model/model-00002-of-00002.safetensors
our_model/model.safetensors.index.json
our_model/training_args.bin
our_model/config.json
our_model/trainer_state.json
.gitignore
our_model/experiment_cfg/metadata.json
pick_pink_fox/config.json
pick_pink_fox/model-00001-of-00002.safetensors
pick_pink_fox/model-00002-of-00002.safetensors
pick_pink_fox/model.safetensors.index.json
pick_pink_fox/trainer_state.json
pick_pink_fox/training_args.bin
pick_pink_fox/experiment_cfg/metadata.json
